In [1]:
from functions.metabase import (
    make_metabase_session, 
    get_metabase_cards, 
    parse_metabase_cards, 
    transform_metabase_cards,
    get_cards_to_archive, 
    archive_batch
)
import os
from dotenv import load_dotenv

load_dotenv()

METABASE_URL = "https://sfr3.metabaseapp.com"
METABASE_API_KEY = os.environ.get('METABASE_API_KEY')

In [2]:
session = make_metabase_session(METABASE_API_KEY)

In [3]:
cards = get_metabase_cards(METABASE_URL, session)

In [4]:
df = parse_metabase_cards(cards)
df.head()

,card_id,collection_id,card_name,card_sql,db_id,created_at,created_by,last_updated_at,last_updated_by,last_used_at,archived
0,571,92.0,$0 line item explorer,with projects as ( \n SELECT distinct co.pr...,35,2023-04-25T21:40:31.977831Z,Andrew Faircloth,2023-06-09T02:28:15.248034Z,anthony.marinelli@sfr3.com,2024-08-29T21:04:33.448571Z,False
1,1420,128.0,0-rent leases,"select \nunitnumber as prop_id\n, l.createddat...",35,2023-05-30T16:15:42.214214Z,Andrew Nelson,2023-05-30T16:27:11.44031Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,False
2,471,128.0,0 rent leases in buildium,select * \n\nfrom {{#431-basic-lease-info}}\n\...,35,2023-04-18T16:44:15.272299Z,Andrew Nelson,2023-04-18T18:54:32.4301Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,False
3,10137,3070.0,$0 turn moveout reasons,"SELECT y.propid, y.project_id, y.metro, y.most...",35,2024-08-27T10:18:01.068658Z,Amartya Sengupta,2024-08-27T18:12:47.087135Z,amartya@sfr3.com,2024-09-23T16:05:06.915891Z,False
4,8362,NaN,100 Spokane Drive,None,35,2024-04-15T13:05:43.791332Z,Timothy Cha,2024-09-01T04:25:32.039323Z,timothy.cha@sfr3.com,2024-09-01T04:25:23.354215Z,False

In [5]:
df_transformed = transform_metabase_cards(df)
df_transformed.head()

,card_id,collection_id_x,card_name_x,card_sql_x,db_id_x,created_at_x,created_by_x,last_updated_at_x,last_updated_by_x,last_used_at_x,...,raw_stitch,raw_fivetran,raw_airbyte,raw_portable,raw_dataddo,flagged,days_since_last_usage,days_since_last_update,update_category,usage_category
0,571,92.0,$0 line item explorer,with projects as ( \n SELECT distinct co.pr...,35,2023-04-25T21:40:31.977831Z,Andrew Faircloth,2023-06-09T02:28:15.248034Z,anthony.marinelli@sfr3.com,2024-08-29T21:04:33.448571Z,...,NaN,NaN,NaN,NaN,NaN,False,113,560,since 500-599 days,since 110-119 days
1,1420,128.0,0-rent leases,"select \nunitnumber as prop_id\n, l.createddat...",35,2023-05-30T16:15:42.214214Z,Andrew Nelson,2023-05-30T16:27:11.44031Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,True,False,True,113,570,since 500-599 days,since 110-119 days
2,471,128.0,0 rent leases in buildium,select * \n\nfrom {{#431-basic-lease-info}}\n\...,35,2023-04-18T16:44:15.272299Z,Andrew Nelson,2023-04-18T18:54:32.4301Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,...,NaN,NaN,NaN,NaN,NaN,False,113,612,since 600-699 days,since 110-119 days
3,10137,3070.0,$0 turn moveout reasons,"SELECT y.propid, y.project_id, y.metro, y.most...",35,2024-08-27T10:18:01.068658Z,Amartya Sengupta,2024-08-27T18:12:47.087135Z,amartya@sfr3.com,2024-09-23T16:05:06.915891Z,...,NaN,NaN,NaN,NaN,NaN,False,88,115,since 100-199 days,since 80-89 days
4,8362,NaN,100 Spokane Drive,None,35,2024-04-15T13:05:43.791332Z,Timothy Cha,2024-09-01T04:25:32.039323Z,timothy.cha@sfr3.com,2024-09-01T04:25:23.354215Z,...,NaN,NaN,NaN,NaN,NaN,False,110,110,since 100-199 days,since 100-109 days

In [6]:
df_transformed.shape

(7554, 36)

In [7]:
df_to_archive = get_cards_to_archive(df_transformed)
df_to_archive.head()

,card_id,collection_id_x,card_name_x,card_sql_x,db_id_x,created_at_x,created_by_x,last_updated_at_x,last_updated_by_x,last_used_at_x,...,raw_stitch,raw_fivetran,raw_airbyte,raw_portable,raw_dataddo,flagged,days_since_last_usage,days_since_last_update,update_category,usage_category
1,1420,128.0,0-rent leases,"select \nunitnumber as prop_id\n, l.createddat...",35,2023-05-30T16:15:42.214214Z,Andrew Nelson,2023-05-30T16:27:11.44031Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,True,False,True,113,570,since 500-599 days,since 110-119 days
156,5067,697.0,814 Dover Ave listing history,select parse_json(unit)['UNITNUMBER']::varchar...,35,2023-08-24T18:39:11.727188Z,Andrew Nelson,2023-09-08T20:54:43.506816Z,andrew.nelson@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,False,False,True,113,469,since 400-499 days,since 110-119 days
179,4786,NaN,AAPM Moveouts,with lease as (\n select \n prop_id ...,35,2023-08-02T16:33:57.572539Z,Taylor Geib,2023-10-11T18:10:48.138526Z,taylor.geib@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,True,False,True,113,436,since 400-499 days,since 110-119 days
181,4549,NaN,AAPM Reversals,with lease as (\n select \n id::stri...,35,2023-07-13T20:58:57.330229Z,Andrew Dallas,2023-07-26T06:48:07.734237Z,andrew@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,True,False,True,113,513,since 500-599 days,since 110-119 days
184,4858,NaN,AAPM Transition Upcoming Turns - LUK / CMH / DAY,"with AAPM_transition as (\nSELECT \npropid \n,...",35,2023-08-09T15:22:25.279421Z,Taylor Geib,2024-03-19T13:24:27.412942Z,taylor.geib@sfr3.com,2024-08-29T21:04:33.448571Z,...,False,False,False,True,False,True,113,276,since 200-299 days,since 110-119 days

In [9]:
final_output = archive_batch(df_to_archive, session, METABASE_URL)
final_output

Archiving card_id 1420
Card 1420 succesfully archived
Archiving card_id 5067
Card 5067 succesfully archived
Archiving card_id 4786
Card 4786 succesfully archived
Archiving card_id 4549
Card 4549 succesfully archived
Archiving card_id 4858
Card 4858 succesfully archived
Archiving card_id 4613
Card 4613 succesfully archived
Archiving card_id 5300
Card 5300 succesfully archived
Archiving card_id 3368
Card 3368 succesfully archived
Archiving card_id 3731
Card 3731 succesfully archived
Archiving card_id 2615
Card 2615 succesfully archived
Archiving card_id 748
Card 748 succesfully archived
Archiving card_id 749
Card 749 succesfully archived
Archiving card_id 1432
Card 1432 succesfully archived
Archiving card_id 963
Card 963 succesfully archived
Archiving card_id 687
Card 687 succesfully archived
Archiving card_id 688
Card 688 succesfully archived
Archiving card_id 444
Card 444 succesfully archived
Archiving card_id 6795
Card 6795 succesfully archived
Archiving card_id 5291
Card 5291 succesfully archived
Archiving card_id 690
Card 690 succesfully archived
Archiving card_id 394
Card 394 succesfully archived
Archiving card_id 783
Card 783 succesfully archived
Archiving card_id 5005
Card 5005 succesfully archived
Archiving card_id 713
Card 713 succesfully archived
Archiving card_id 780
Card 780 succesfully archived
Archiving card_id 5358
Card 5358 succesfully archived
Archiving card_id 5595
Card 5595 succesfully archived
Archiving card_id 4439
Card 4439 succesfully archived
Archiving card_id 1025
Card 1025 succesfully archived
Archiving card_id 5399
Card 5399 succesfully archived
Archiving card_id 6268
Card 6268 succesfully archived
Archiving card_id 5572
Card 5572 succesfully archived
Archiving card_id 5845
Card 5845 succesfully archived
Archiving card_id 417
Card 417 succesfully archived
Archiving card_id 4605
Card 4605 succesfully archived
Archiving card_id 5852
Card 5852 succesfully archived
Archiving card_id 5838
Card 5838 succesfully archived
Archiving card_id 5851
Card 5851 succesfully archived
Archiving card_id 5843
Card 5843 succesfully archived
Archiving card_id 849
Card 849 succesfully archived
Archiving card_id 6843
Card 6843 succesfully archived
Archiving card_id 5313
Card 5313 succesfully archived
Archiving card_id 5156
Card 5156 succesfully archived
Archiving card_id 1486
Card 1486 succesfully archived
Archiving card_id 4781
Card 4781 succesfully archived
Archiving card_id 583
Card 583 succesfully archived
Archiving card_id 742
Card 742 succesfully archived
Archiving card_id 3268
Card 3268 succesfully archived
Archiving card_id 4686
Card 4686 succesfully archived
Archiving card_id 605
Card 605 succesfully archived
Archiving card_id 604
Card 604 succesfully archived
Archiving card_id 9835
Card 9835 succesfully archived
Archiving card_id 3598
Card 3598 succesfully archived
Archiving card_id 557
Card 557 succesfully archived
Archiving card_id 4874
Card 4874 succesfully archived
Archiving card_id 4165
Card 4165 succesfully archived
Archiving card_id 489
Card 489 succesfully archived
Archiving card_id 6941
Card 6941 succesfully archived
Archiving card_id 4700
Card 4700 succesfully archived
Archiving card_id 4132
Card 4132 succesfully archived
Archiving card_id 6051
Card 6051 succesfully archived
Archiving card_id 4777
Card 4777 succesfully archived
Archiving card_id 3443
Card 3443 succesfully archived
Archiving card_id 5113
Card 5113 succesfully archived
Archiving card_id 6490
Card 6490 succesfully archived
Archiving card_id 4419
Card 4419 succesfully archived
Archiving card_id 4420
Card 4420 succesfully archived
Archiving card_id 1062
Card 1062 succesfully archived
Archiving card_id 1123
Card 1123 succesfully archived
Archiving card_id 8056
Card 8056 succesfully archived
Archiving card_id 5324
Card 5324 succesfully archived
Archiving card_id 5325
Card 5325 succesfully archived
Archiving card_id 724
Card 724 succesfully archived
Archiving card_id 725
Card 725 succesfully archived
Archiving card_id 4520
Card 4520 succesfully archived
Archiving card_id 4521
Card 4521 succesfully archived
Archiving card_id 4546
Card 4546 succesfully archived
Archiving card_id 4519
Card 4519 succesfully archived
Archiving card_id 4522
Card 4522 succesfully archived
Archiving card_id 4544
Card 4544 succesfully archived
Archiving card_id 3402
Card 3402 succesfully archived
Archiving card_id 3433
Card 3433 succesfully archived
Archiving card_id 3435
Card 3435 succesfully archived
Archiving card_id 3202
Card 3202 succesfully archived
Archiving card_id 3436
Card 3436 succesfully archived
Archiving card_id 810
Card 810 succesfully archived
Archiving card_id 809
Card 809 succesfully archived
Archiving card_id 827
Card 827 succesfully archived
Archiving card_id 807
Card 807 succesfully archived
Archiving card_id 826
Card 826 succesfully archived
Archiving card_id 830
Card 830 succesfully archived
Archiving card_id 4878
Card 4878 succesfully archived
Archiving card_id 5819
Card 5819 succesfully archived
Archiving card_id 4780
Card 4780 succesfully archived
Archiving card_id 5578
Card 5578 succesfully archived
Archiving card_id 4829
Card 4829 succesfully archived
Archiving card_id 454
Card 454 succesfully archived
Archiving card_id 4928
Card 4928 succesfully archived
Archiving card_id 4567
Card 4567 succesfully archived
Archiving card_id 1222
Card 1222 succesfully archived
Archiving card_id 4595
Card 4595 succesfully archived
Archiving card_id 6414
Card 6414 succesfully archived
Archiving card_id 5434
Card 5434 succesfully archived
Archiving card_id 5435
Card 5435 succesfully archived

'104 cards were archived. 0 cards were NOT archived. Cards to try again: []'